.content-asist-button{
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px #cfcfcf ;
    margin: 0px 60px;
    padding: 15px;
}
p{
    font-size: 18px;
}
.semestre{
    width: 23%;
}
button[type="button"]{
    padding: 10px 20px;
    color:white;
    font-weight: 500;
    border: none;
    margin: 10px;
    box-shadow: 1px 2px 6px 2px #b2b2b2 ;
    border-radius: 5px;
    font-size: 16px;
}
.marcar-asist{
    background:#35a65c ;
    
}
.asist-alumn{
   background: #ff8100;
}
.asist button  {
background: #224fb1;
margin: 10px 5px;

}
