* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}


#barra {
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  font-size: 20px;
  box-shadow: 4px 1px 10px 5px rgb(197, 197, 197);
  width: 100%;
}

img {
  height: 50px;
  padding-right: 10px;
}

.name {
  color: #ffffff;
  font-size: 18px;
}

.content-login {
  display: grid;
  place-items: center;
  padding-top: 23px;
}
.link {
  text-decoration: none;
  padding-top: 10px;
}
.login {
  display: grid;
  grid-template-columns: 1fr;

  margin-top: 20px;
  color: #3f51b5;
  width: 400px;
  min-width: 300px;

  padding: 30px 30px;
  border-radius: 5px;
  border: 1px solid #b9b8b8;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  
}

.login:hover {
  transform: translateY(-1px) scale(1);
  box-shadow: 1px 1px 10px 1px rgb(203, 203, 203);
}
input {
  border-color: none;
}
a {
  text-align: center;
}
.ini_sesion {
  background: #224fb1;
  border: none;
  color: #ffffff;
  padding: 10px 0px;
  font-family: "Prompt", sans-serif;
}
p {
  color: red;
  text-align: center;
  font-size: 14px;
}
.sesion_google {
  margin: 5px auto;
  border: none;
  background: #ffffff;
  box-shadow: 1px 1px 10px 1px #dcdcdd;
  color: #969696;
  padding: 1px 10px;
  width: auto;
  border-radius: 5px;
  font-size: 14px;
}
.comunicados {
  margin: 0 auto;
  border: none;
  background: #ffffff;
  color: #007bff;
  font-weight: 600;
  height: 170%;
  width: 50%;
  border-radius: 5px;
  font-size: 14px;
}
.comunicados:hover {
  background: #d6d6d6;
}
.google {
  height: 35px;
}
@media (max-width: 425px){
  .login{
    width: 0px;
  }

}